{% extends 'users/base.html' %}

{% block content %}
<div class="container px-5 my-5">
    <h2 class="text-uppercase">Welcome To Django Applicant</h2>
    <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="fullName">Enter Full Name</label>
            <input class="form-control" id="fullName" type="text" name="fullName" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="fullName:required">Full Name is required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="emailAddress">Enter Email Address</label>
            <input class="form-control" id="emailAddress" type="email" name="emailAddress" data-sb-validations="required,email" />
            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address is not valid.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password1">Enter Password</label>
            <input class="form-control" id="password1" type="password" name="password1" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="password1:required">Password is required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password2">Confirm Password</label>
            <input class="form-control" id="password2" type="password" name="password2" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="password2:required">Confirm Password is required.</div>
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Register</button>
        </div>
        <hr class="my-4">
        <small class="text-muted">Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock %}
